
.navbar {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .logo img {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0s;
    font-size: 20px;
  }
  
  .nav-links a:hover {
    color: blue;
  }
  
  